.menu {
  width: 188px;
  height: 214px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #FAFAFA;
  -webkit-box-shadow: 5px 5px 33px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 33px -6px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 33px -6px rgba(0,0,0,0.75);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transform: translateX(-270px);
  opacity: 0;
  visibility: hidden;
}

.menu.show {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}

.menu__header {
  background-color: #616161;
  height: 116px;
  margin-bottom: 18px;
}

.menu__avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: green;
  margin: 1rem;
}

.menu__list {
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  padding-bottom: 13px;
  line-height: 20px;
  font-size: 8pt;
  font-weight: bold;
}

.menu__list a:hover {
  color: #67A9DF;
}