.add-button {
  background: green;
  color: white;
  width: 35px;
  height: 35px;
  left: 0px;
  bottom: 0px;
  float: right;
  border-radius: 50%;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


.add-button i {
  font-size: 13pt;
}