.board-card {
  background: white;
  padding: 0.5rem;
  margin: 0.5rem;
  /*border: 1px solid lightgrey;*/
  border-radius: 3px;
  width: 360px;
  height: 150px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

.board-card h2 {
  font-size: 1em;
}

.board-card p {
  font-size: 7pt;
  color: #767676;
}

@media only screen and (max-device-width:500px) {
  .board-card {
    width: 288px;
    border-radius: 3px;
  }
}